@font-face {
   font-family: 'DINNextLTArabic-Bold-4d12fda9193c9978e005103fc1606b20';
   src: url('DINNextLTArabic-Bold-4d12fda9193c9978e005103fc1606b20/font.ttf');
}
@font-face {
   font-family: 'albayan';
   src: url('albayan/font.ttf');
}
